body, html {
    background-color: black;
    color: white;
    place-items: center;
}
::-webkit-scrollbar {
    width: 0.5vw;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: rgb(15, 15, 15);
    border-radius: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
}
/* WELCOME */
.welcome {
    height: 40vh;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}

.welcome-photo {
    height: 100%;
    border-radius: 20%;
}

.welcome-text {
    align-self: center;
    text-align: center;
    padding: 30px;
}

.welcome-text-title {
    font-size: 3em;
}

.welcome-text-subtitle {
    color: lightgray;
    font-style: normal;
    font-size: 2em;
}
/* CONTENT */
.content {
    width: 80%;
    font-size: 1em;
    align-self: center;
    color: lightgray;
    text-align: justify;
}
h1 {
    color: white;
    text-align: center;
}

.back-button {
    color: white;
    border: solid white;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.5em;
    width: 30%;
    align-self: center;
    text-align: center;
    margin: 50px 0px;
}
.back-button:hover {
    border: solid white;
    border-radius: 30px;
    text-decoration: none;
    font-size: 2em;
    transform: scale(1.2);
    transition: 0.5s;
}
/* ADAPTIVE */

@media (max-width: 700px) {
    .welcome {
        flex-grow: 1;
        height: 100%;
    }
    .welcome-photo {
        margin: 0 auto;
        width: 60%;
        align-self: center;

    }
    .welcome-text-title {
        font-size: 10em;
        margin: auto;
        margin-top: 20vh;   
    }
    
    .welcome-text-subtitle {
        color: lightgray;
        font-style: normal;
        font-size: 5em;
    }
    .content {
        width: 80%;
        font-size: 1em;
        align-self: center;
        color: lightgray;
        font-size: 3em;
    }
    h1 {
        color: white;
        text-align: center;
        font-size: 2em;
        font-style: normal;
    }
    .back-button {
        font-size: 4em;
        width: 80%;
    }
    .back-button:hover {
        border: solid white;
        border-radius: 30px;
        text-decoration: none;
        font-size: 6em;
        transform: scale(1.2);
        transition: 0.5s;
    }
}
